/* Basinställningar för body */
body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    height: 100vh;
     margin: 0;
  }

.top {
    font-size: clamp(14px, 5vw, 25px);
    height: 60px;
    width: 100vw;
    text-align: center;
    margin-bottom: 35px;
    color:#ff0000;
  }

  /* Styling för spelkortet */
.card {
    width: clamp(50px, 80vw, 400px);
    height: clamp(50px, 60vh, 800px);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  /* Styling för påståendet */
.statement {
    font-size: clamp(14px, 10vw, 50px);
    margin-bottom: 20px;
    font-weight: bold;
    color: #ff0000;
    word-wrap: break-word; /* Gör så att långa ord bryts när det inte får plats */
    overflow-wrap: break-word; /* För att säkerställa att långa ord inte går utanför */
    text-overflow: ellipsis; /* Klipper bort text om den är för lång och lägger till "..." */
    width:95%;
  }

  /* Styling för knappar */
.new-statement-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }




  #toggleList {
    background-color: grey;
    color: white;
    width: 120px;
    text-align: center;
    transition: background-color 0.3s;
}

#toggleList.on {
    background-color: green;
}

#generateStatement {
    background-color: #007bff;
    color: white;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}